/* font */

:root {
  --background-1: #131415;
  --background-2: #393939;
  --textos: #ffff;
  --titulos: #ffb01e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /*fontfamily*/
  /*border: 1px solid red;*/
}
body {
  background: var(--background-1);
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
header {
  background: linear-gradient(180deg, #393939 0%, #131415 100%);
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 80px;
}

.logo-img {
  display: flex;
  height: 65px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.navbar-list a {
  color: var(--titulos);
  font-size: 1.2rem;
}

.navbar-list-2 {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  text-decoration: none;
  border: 1px solid #ffb01e7a;
  border-radius: 10px;
  align-items: center;
}

.navbar-list-2 a {
  color: #ff7700;
  font-size: 1rem;
  cursor: pointer;
  padding: 20px;
}

.navbar-list-2:hover {
  background-color: #39393970;
}

/**************/
.navbar-list li {
  position: relative;
  padding: 0;
}

#login {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  height: 400px;
  width: 400px;
  margin: 50px;
}

.login h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffb01e;
  font-size: 2rem;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  width: 300px;
  padding: 10px;
  margin: 10px 50px;
  border-radius: 8px;
  border: none;
  text-align: center;
  background-color: #393939;
}

.links {
  display: flex;
  justify-content: space-around;
}

.links-2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: red;
  text-decoration: none;
}

.boton {
  display: flex;
  justify-content: center;
}
.boton button {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  background-color: var(--titulos);
  color: var(--background-1);
  border-radius: 10px;
  font-weight: 400;
  margin-left: 0%;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  margin: 30px 0px;
  cursor: pointer;
}

#footer {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin: 0px;
  bottom: 0;
  width: 100%;
  height: 21%;
  gap: 10px;
  background: linear-gradient(
    0deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(19, 20, 21, 1) 100%
  );
}
.footer {
  display: flex;
  justify-content: center;
  color: var(--titulos);
  font-size: 20px;
}
.footer h3 {
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 1.5rem;
}
.links {
  display: flex;
  justify-content: space-around;
}
.footer-links {
  margin: 20px;
  display: flex;
  font-size: 15px;
  color: var(--titulos);
  width: 900px;
  justify-content: space-between;
}
.footer-links i {
  cursor: pointer;
}
.made-by-me {
  display: flex;
  justify-content: center;
  color: #727272;
  font-size: 20px;
}
.made-by-me i {
  font-size: 13px;
}
